.header{
    width: 1450px auto;
    height: 82px;
    background-color: #FCFEFE;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    margin: 0px;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    padding: 12px;
    display: flex;
}

.pps{
    display: flex;
    padding: 0px 0px 0px 855px;
    gap: 25px;
}

.p1{
    color: #333;
    cursor: context-menu;
    margin-left: 111px;
}

.ps{
    color: #333;
    cursor: context-menu;
    font-size: 22px;
    transition: all .5s ease;
}

.ps:hover{
    color: #8E5418;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: all .5s ease;
}

.blok1{
    width: 1350px auto;
    height: 500px;
    background-color: #FCFEFE;
    padding: 112px;
}

.hhbs{
    margin-left: 210px;
    position: absolute;
    top: 155px;
}

.hh2{
    color: #8E5418;
    font-size: 62px;
}

.hh3{
    font-size: 32px;
}

.fimg1{
    margin-left: 755px;
    width: 555px;
    height: 555px;
}

.btn1{
    border: none;
    border-radius: 12px;
    width: 152px;
    height: 52px;
    background-color: #8E5418;
    color: #FCFEFE;
    font-size: 20px;
    padding: 10px;
}

.blok2{
    width: 1350px auto;
    height: 500px;
    background-color: #FCFEFE;
    padding: 112px;
}

.hhbs1{
    margin-left: 900px;
    position: absolute;
    top: 855px;
}

.p2{
    color: #8E5418;
    font-size: 20px;
}

.btn2{
    border: none;
    border-radius: 12px;
    width: 182px;
    height: 52px;
    background-color: #8E5418;
    color: #FCFEFE;
    font-size: 20px;
    padding: 10px;
}

.fimg2{
    margin-left: 155px;
    
}

.blok3{
    width: 1350px ;
    height: 500px;
    background-color: #FCFEFE;
    margin-left: 675px;
}

.fup{
    color: #8E5418;
    font-size: 15px;
    padding-left: 120px;
}

.bloks1{
    display: flex;
    gap: 32px;
    position: absolute;
    top: 1600px;
    left: 350px;
}

.bsimg{
    width: 50px;
    height: 50px;
    padding-left: 50px;
}

.bsp{
    padding-right: 100px;
    width: 300px;
}

.blok4{
    width: 1350px ;
    height: 500px;
    background-color: #FCFEFE;
    margin-left: 735px;
}

.fup2{
    color: #8E5418;
    font-size: 15px;
    padding-left: 50px;
}

.bloks2{
    display: flex;
    gap: 32px;
    position: absolute;
    top: 2100px;
    left: 250px;
}

.bsimg2{
    width: 50px;
    height: 50px;
    padding-left: 50px;
}

.bsp2{
    padding-right: 100px;
    width: 300px;
}

.bbs2{
    border: solid #555 2px;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    padding: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rddiv{
    width: 50px;
    height: 30px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #8E5418;
    position: relative;
    top: 266px;
    right: 83px;
}

.blok5{
    width: 1350px ;
    height: 500px;
    background-color: #FCFEFE;
    margin-top: 150px;
    margin-left: 250px;
}

.bbs3{
    gap: 52px;
}